<div *ngIf="post != null" class="card post">
  <div class="card-body">
    {{post.content}}
  </div>
  <form (submit)="$event.preventDefault(); testLike(post.id)">
    <!--<button class="btn btn-primary" type="submit">Like Test</button>-->
    <img *ngIf="$Post.status" (click)="changeCheck($event);CallFeedPageComponentLikeFunction(post.id);" src="../../../assets/elike.jpg" class="like">
    <img *ngIf="!$Post.status" src="../../../assets/flike.jpg" class="like">
    {{post.likes}}
</form>

</div>
